footer {
    text-align: center;
    font-size: 30px;
    background-color: $color-nav;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    height: fit-content;

    .youtube {
        color: red;

        &:hover {
            color: rgb(170, 28, 28);
        }
    }

    .spotify {
        color: green;

        &:hover {
            color: rgb(6, 80, 6);
        }
    }

    .facebook {
        color: rgb(18, 44, 161);
    }
}