/* MQ CELULAR */


/* MQ index-incio */

@media (max-width: 480px){

    .contenedor-home{
        flex-direction: column;
        background-color:#101010;
        align-items: center;
        width: 100%;
    }

    .texto-home{
      text-align: center;
      font-size: 20px;
      width: 100%;
    }

    .contenedor-texto{
      width: 400px;
      
      
    }

    .titulo-home{
        font-size: 70px;
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .contenedor-imagen{
        justify-content: center;
    }
}