
.botontour{
    height:50px;
    width: 140px;
    background-color: $color-nav;
    border-style: none;
    border-radius: 9px;
    display: flex;
    text-align: center;
    justify-content: center;
    a{
        text-decoration: none;
        color: white;
    }
}
